/**
 * Styles for the admin settings page.
 */

#hosting-task-gc-settings #edit-hosting-task-gc-extra-older-number,
#hosting-task-gc-settings #edit-hosting-task-gc-extra-per-site-number {
  width: 10%
}

#hosting-task-gc-settings #edit-hosting-task-gc-extra-older-interval,
#hosting-task-gc-settings #edit-hosting-task-gc-extra-per-site-interval {
  width: 15%;
}

#hosting-task-gc-settings #edit-hosting-task-gc-extra-per-site {
  width: 20%;
}
